<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xkcdbrowser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BF22B3221A9F7BA0047EBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF22B4B21A9F7BC0047EBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF22B5621A9F7BC0047EBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
